/*body {
    background-image: url(repeat-image.jpg);
    
    /*background-repeat: no-repeat;*/
    /*background-repeat: repeat-x;*/
    /*background-repeat: repeat-y;*/
    
    /*background-repeat:repeat;
    background-position: left top;*/

    /* дополнительно */
   /* background-position: 30px 50px;
       background-position: right 30px bottom 50px;*/
/*}

.frame {
    width: 500px;
    padding: 70px 100px;
    background-image:
        url(top-bg.png),
        url(bottom-bg.png),
        url(center-bg.png);
    background-position: top, bottom, center;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-size: contain;
    margin: 0 auto;
    text-align: justify;/*
    display: none;*/
/*}*/

body 
{
     background-image: url(repeat-image.jpg);
     background-repeat: repeat;
     background-position: center center;
}
.frame 
{ 
    width: 500px;
    padding: 100px;
    margin: auto;
    text-align: justify;
    align-content: center;
    background-image: url(top-bg.png),url(bottom-bg.png),url(center-bg.png);
    background-repeat: no-repeat, no-repeat, repeat-y; 
    background-position: top, bottom, center;
    background-size: contain; 
}


